$typography: (

);

$z-index: (
	nav: 1000,
);

$colors: (
	body   : #000000,
	light  : #F1EEEA,
	light-tint : #E5E1DA
);

$points: (
	x-small: rem(414px),
	small  : rem(600px),
	medium : rem(768px),
	large  : rem(1024px),
	x-large: rem(1296px),
);
