.frame {
	margin: auto 0 auto 0;
	flex-direction: column;
	width: 90.4%;

	@include bp( 835px ) {
		width: 41.11%;
	}

	&,
	ul {
		display: flex;
		justify-content: space-between;
	}

	li {
		width: 33%;

		&:nth-of-type(2) {
			text-align: center;
		}

		&:last-of-type {
			text-align: right;
		}
	}

	ul {
		list-style: none;
		margin: 1.3125rem 0 0 0;
	}
}