label {
	cursor: pointer;
	vertical-align: middle;
}

input {
	font: inherit;
}

button {
	appearance: none;
	padding: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
	color: inherit;
	font: inherit;
}

textarea {
	overflow: auto;
	display: block;
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

input[type=search]::-webkit-search-cancel-button {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
}

input[type=email],
input[type=tel],
input[type=text],
textarea {
	@extend %input;
}

select {
	@extend %select;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	border-bottom: 1px solid color( body ) !important;
}

	label {
		margin: 0 0.625rem 0 0;
		@include bp( $breakpoint ) {
			margin: 0 0.1875rem 0 0;
		}
	}


.gform_heading {
	display: none;
}

.gfield--honeypot {
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
}
#field_1_3 label {
	display: none;
}


.gform_body > div > * {
	display: flex;
	align-items: center;
}
fieldset {
	@include bp( $breakpoint ) {
		width: 50%;
	}

	> div {
		width: 100%;
	}
}
legend {
	float: left;
}

#field_1_3 {
	margin: 0 0 0.6875rem 0;
	@include bp( $breakpoint ) {
		margin: 0 0 1.0625rem 0;
	}
}

#field_1_5 {
	.ginput_container {
		@include bp( $breakpoint ) {
			margin: 0 0.9375rem 0 0;
		}
	}
}

#field_1_5,
#field_1_6 {
	margin: 0 0 0.6875rem 0;
	@include bp( $breakpoint ) {
		float: left;
		margin: 0 0 0.875rem 0;
	}

	.ginput_container {
		width: 100%;
		@include bp( $breakpoint ) {
			width: 13.625rem;
		}
	}
}

// .gfield {
// 	background: red;
// }

#field_1_7 {
	clear: both;
	align-items: flex-start;

	label {
		margin: 0.125rem 0 0 0;
	}
}

.gform_footer {
	position: absolute;
	left: 50%;
	transform: translateX( -50% );
	top: auto;
	bottom: -2.5625rem;
}

textarea {
	height: 5rem;
	overflow: hidden;
	resize: none;
	font-family: inherit;
	font-size: inherit;

	@include bp( $breakpoint ) {
		height: auto;
	}
}

.gform_confirmation_wrapper,
form {
	position: relative;
	padding: 1.0625rem 1.3125rem 0.25rem 1.375rem;
	height: 11.9375rem;
	font-size: 1rem;

	@include bp( $breakpoint ) {
		height: 20.8125rem;
		padding: 1.375rem 3.375rem 1.375rem 1.25rem;
	}
}

input[type="submit"] {
	border: unset;
	text-transform: lowercase;
}