body {
	font-size: 0.875rem;
	// font-size: 1rem;
	text-transform: lowercase;

	@include bp( $breakpoint ) {
		font-size: 1rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
legend {
	margin: 0;
	padding: 0;
}

address {
	font-style: normal;
}

nav ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: color(body);

	&:hover {
		color: inherit;
	}

	&[href^='mailto:'],
	&[href^='tel:'] {
		white-space: nowrap;
	}
}
